@media(max-width: 480px){
  dd{
    margin-left: 20px;
  }
  
header{
  height: 220px;
}

  header h1{
    font-size: 3.6rem;
  }

  main h2{
    font-size: 2.6rem;
  } 

  .column{
    margin-left: -40px;
  }

  #oredr-wrapper .figure{
    font-size: 1.4rem;
  }

  .explain{
    font-size: 1.4rem;
  }

  .example{
    width: 80%;
    white-space:nowrap;
   overflow: scroll;
  }
  .example li{
    font-size: 1.4rem;
  }

  .column dd{
    margin-left: 40px;
  }

 
  
  #uniqSelector dl:nth-of-type(1)>dt:nth-of-type(1){
    font-size: 1.6rem;
  }
  .attr-result{
    width: 80%;
    margin: 0 auto 20px;
  }
  
  .attr-result li{
    font-size: 1.5rem;
  }
  
  .kihon{
    width: 90%;
    margin: 0 auto;
    font-size: 1.4rem;
  }
  .kihon li{
    font-size: 1.4rem;
  }
  .attention{
    width: 90%;
    margin: 0 auto;
    white-space:nowrap;
   overflow: scroll;
  }

  .attention li{
    font-size: 1.2rem;
  }
  .attention p{
    font-size: 1.2rem;
  }
  /* メソッド */
  #oredr-wrapper .example{
    width: 80%;
    }
  
  
  .event-wrapper .example{
    width: 80%;
  }
  
  .event-wrapper img{
    width: 100%;
  }

  .formWrapper .example{
    width: 80%;
    font-size: 1.4rem;
  }


  .header-nav{
    display: none;
 }

 #open{
   display: inline-block;
   border:1px solid #ddd;
   color: #ddd;
   padding: 12px;
   width: 150px;
   margin: 0 auto;

   
 }












}

