/* ////////////////////////////////共通設定//////////////////////////////// */
html{
  font-size: 62.5%;
  user-select: none;
}

body{
  margin: 0;
  font-size: 1.6em;
  font-family:sans-serif;
  background-color: #f5f5f5;
  color: #333;
  /* background-color: skyblue; */
}

h1,h2,h3,h4,ul{
  margin: 0;
  padding: 0;
}

img{
  vertical-align: bottom;
}

dl{
  margin-bottom: 20px;
  margin-top: 0;
  /* outline: 1px solid orange; */
}

dt{
  font-size: 2rem;
  margin-bottom: 8px;
}

dd{
  margin-right: 40px;
  font-size: 1.6rem;
}

li{
  list-style:none;
  font-size: 1.6rem;
}

a{
  text-decoration: none;
}

button{
  /* background-color: red; */
  margin-left: -20px;
  margin-right: 30px;
}
button:hover{
  cursor: pointer;
}


.heading{
/* background-color: #fff; */
display: inline;
border-left: 5px solid #305089;
margin-left: 10px;
padding-left: 5px;
}


.figure{
  background-color: #ddd;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.example{
  background-color: #fff;
  display: inline-block;
  margin: 10px 40px;
  padding: 10px 20px;
  font-size: 1.6rem;
}

.example li{
  font-size: 1.6rem;
  
}



.explain{
  color:green;
}

.important{
  color:red;
  display: inline;
}


section{
  outline: 1px solid #000;
}

.inner{
  width: 1000px;
  margin: 0 auto;
  /* background-color:rgba(0,0,0,0.2); */
  max-width: 100%;
  padding: 0  4px;
}

.column{
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* ////////////////////////////////ヘッダー////////////////////////////// */
header{
  width: 100%;
  background-color:#0769ad;
  text-align: center;
  height: 300px;
  /* display: none; */
}

header h1{
  font-size: 6rem;
  margin: 0 0 18px;
  padding-top: 48px;
  font-family: 'Kosugi Maru';
  letter-spacing: 10px;
  color: #fff;
}

header p{
  margin: 0 0 30px;
  font-family: 'Kosugi Maru';
  color: #fff;
}

.header-nav{
  display: flex;
  width: 80%;
  margin: 0 auto;
}


.header-nav > li{
  width: 100%;
  display: block;
   position: relative;
   color:#fff;
   background-color: #305089;
   font-size: 1.5rem;
   margin-right: 1px;
}

header a{
  text-decoration: none;
  display: block;
 padding: 6px;
 color: #fff;
}

.header-nav > li a:hover{
  background-color:#fff ;
  color:#305089;
}

.indexSub > li a{
  text-align: left;
  color:#fff;
   background-color: #425b86;
}


.indexSub > li a:hover{
  color:  #425b86 ;
  background-color:#fff;
}

.indexSub{
  width: 100%;
display: none;
position:absolute;
}

header .fas{
  font-size: 1.6rem;
  margin-right: 6px;
}




/* ////////////////////////////////メイン////////////////////////////// */
main h1{
  text-align: center;
  margin: 60px auto;
  font-size: 4rem;
  border-bottom:5px solid #305089;
  width:350px;
}

main h2{
  background-color: #305089;
  text-align: center;
  padding: 6px;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 10px;
} 



/* ////////////////////////////////フッター////////////////////////////// */

footer{
  /* background-color: #0769ad; */
  background-color: #fff;
  height: 200px;
}

footer #top{
  bottom:0px;
  /* right:1px; */
  background-color:navy;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color:#fff;
  position: fixed;
  z-index: 100;
  opacity:0.5;
}

.footer-wrapper{
  text-align: center;
  padding-top: 50px;
}

footer .fab{
  font-size: 50px; 
  margin-right: 10px;
}

.fa-twitter-square{
  color: #55acee;
}

.fa-facebook-square{
  color: #3b5998;
}

.fa-line{
  color: #1dcd00;
}


/* ////////////////////////////////セレクター////////////////////////////// */
#cssSelector li,#uniqSelector li{
  list-style: disc;
}

#attrSelector .example li{
  list-style: disc;
}

#css {
  margin-left: -20px;
  margin-bottom: 10px;
}

.kihon{
  margin-left: 40px;
  border: 1px solid #000;
  padding: 10px;
  width: 50%;
  height: auto;
  margin-bottom: 10px;
  overflow: scroll;
  white-space:nowrap;
}
.kihon span{
  margin-bottom: 10px;
  display: inline-block;

}


.example .nth-of-type{
  margin: 0 0 0 -20px;
}
.nth-of-type dt{
  font-size: 1.6rem;
  margin-top:0;
  margin-bottom:5px;
}

.nth-of-type dd{
  margin: 0 0 5px 20px;
}

.attr-result{
  width: 50%;
  border:1px solid;
  margin: 0 40px 20px;
  text-align: center;
  padding: 10px 0;
  font-size: 1.8rem;
}

.uniqSelector-span{
  color: orange;
}

.attention{
  width: 55%;
  border:1px solid;
  margin-left: 40px;
}

.attention h3{
  margin-bottom: 8px;
}

.selectorWrapper button{
  margin-left: -20px;
}

/* ////////////////////////////////メソッド////////////////////////////// */
#oredr-wrapper .example{
padding-left: 0px;
display: block;
width: 50%;
}

#oredr-wrapper button{
  margin: 0 20px 0 0;
}

#oredr-wrapper a{
  color:#333;
  text-decoration: underline;
}



#getTextP,#changeHtml{
  margin: 0;
}

.unwrap-wraper{
  background-color: pink;
}

.wrap{
  background-color: red;
}

.wrapAll{
  background-color: pink;
}

.attrClass{
  background-color: yellow;
  color: red;
  width: 150px;
  border: 1px solid #000;
}
.toggle{
  color:#fff;
  background-color: #000;
  width: 200px;
}



/* ////////////////////////////////イベント////////////////////////////// */
#clickEvent .example h3{
  margin-left: -60px;
}

#clickEvent .example{
  width: 40%;
}


.event-wrapper img{
  width: 400px;
  margin: 10px 0;
  max-width: 100%
}

.event-wrapper .btn{
  margin-left: 0px;
}

.event-wrapper a{
  color: #333;
  text-decoration: underline;
  font-size: 2rem;
}

.click-link span{
  display: inline-block;
}

.bgcChange{
  background-color: #fff;
  height: 80px;
  width: 50%;
  margin: 20px 0 20px 40px;
}


.slide-image{
  display: flex;
  
}

.slide-wrapper li a{
  padding: 4px 8px;
  font-size: 1.6rem;
  margin-right: 30px;
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
}

.slide-wrapper li a:hover{
  opacity: 0.8;
}


.box{
  width: 200px;
  height: 200px;
  background-color: #fff;
  padding: 50px;
  max-width:100%
}
.inBox{
  color:red;
  background-color: blue;
  text-align: center;
  line-height: 200px;
  max-width:100%
} 

.box2{
  width: 200px;
  height: 200px;
  background-color: #fff;
  padding: 50px;
  max-width:100%
}
.in2{
  color:red;
  background-color: blue;
  text-align: center;
  line-height: 200px;
  max-width:100%
} 

.mousemove-wrapper{
  height: 80px;
  width: 40%;
  background-color: #fff;
  margin: 10px 0 10px 40px;
}

/* ////////////////////////////////アニメーション////////////////////////////// */
#anomationWrapper .box{
  width: 200px;
  height: 200px;
  padding:0;
  background-color: royalblue;
  display: none;
  margin-top: 10px;
}

button{
  margin-left: 40px;
}

.btn-wrapper button{
  margin-right: 0;
}

.fade-box{
  width: 200px;
  height: 200px;
  background-color: royalblue;
  display: block;
  z-index: 1;
  position: relative;
  margin-top: 10px;
}

.easing-wrapper{
  position: relative;
}
.easing-wrapper .back{
  position: absolute;
  top:50%;
}
.easing-wrapper2{
  position: relative;
}
.easing-wrapper2 .back2{
  position: absolute;
  top:50%; 
}

/* ////////////////////////////////フォーム////////////////////////////// */
.formWrapper button{
margin-left: 20px;
}

.confirmBtn{
  margin-right: 20px;
  margin-top: 10px;
}

#confirm,#confirm2{
margin:10px 20px 0 0;
}

#idclear{
margin-left: 0;
}

textarea{
  resize: none;
}

.password-wrapper{
  width: 300px;
}

.placeholder input{
  width: 200px;
}


.doc-wrapper{
  height: 50px;
}

.docText{
  display: block;
}

#error-message,#error-message0{
 height: 20px;
 margin-top: 5px;
 color: red;

}

#name3{
  margin-bottom: 10px;
}

.checkboxClass{
  height: 60px;
}

/* ////////////////////////////////ハンバーガー////////////////////////////// */
#open{
  display: none;
}

#nav-drawer{
  position: relative;
}

.nav-unshown{
  display:none;
}


#nav-open{
width: 30px;
height: 22px;
display: inline-block;
vertical-align: middle;
display: none;
}

#nav-open span,#nav-open span:before, #nav-open span:after{
position: absolute;
height: 3px;
width: 25px;
border-radius: 3px;
background-color: #555;
display: block;
content:'';
cursor: pointer;
}

#nav-open span:before{
bottom: -8px
}
#nav-open span:after{
bottom:-16px
}

#nav-close{
  display:none;
  position: fixed;
  z-index: 1;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  background-color: #000;
  opacity: 0;
  transition: .3s ease-in-out;

}

#nav-content{
  overflow: auto;
  position:fixed;
  top:0;
  left:0;
  height: 100%;
  width: 50%;
  z-index: 2;
  max-width: 330px;
  background-color: rgba(0,0,0,0.8);
  transition: .6s ease-in-out;
  transform: translateX(-105%)

  
}

#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}


.sp-nav{
  position: relative;
}

.sp-nav li{
  margin-bottom: 10px;
  margin-top: 30px;
}

.sp-nav li a{
  color: #ddd;
  text-decoration: underline;
}

.sp-nav #close{
  color: #ddd;
  font-size: 4rem;
  position: absolute;
  top:-40px;
  left:5px;
}

#fox{
border: 1px solid;
cursor: pointer;
color: #ddd;
background-color: brown;
display: inline-block;
border-radius: 50%;
width: 100px;
height: 100px;
line-height: 100px;
font-size: 1.6rem;
}
